<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <h1>Beauty Store</h1>
        <a href="/product">All Product</a>
        <!-- link mengarah ke profil -->
    </nav>

    <!-- FORM -->
    <form action="/user/<%=visitor.id%>/addProduct" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price">
        </div>
        <div>
            <label for="imageUrl">Image URL</label>
            <input type="imageUrl" name="imageUrl" id="imageUrl">
        </div>
        <div>
            <label for="CategoryId">Category</label>
            <select name="CategoryId" id="CategoryId">
                <option disabled selected>Choose Category</option>
                <%result.forEach(el=>{%>
                    <option value="<%=el.id%>"><%=el.name%></option>
                <%})%>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>