<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
        body{
            background-color: rgb(245, 212, 212);
            color: dimgray;
        }

        .container{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 100px;
        }

        button {
            border-radius: 5px;
            background-color: rgb(204, 246, 247);
            color: rgb(27, 27, 27);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>WELCOME TO BEAUTY STORE</h1>
        <p>Please login or Register first to access our Catalogue</p>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>
    </div>
    
</body>
</html>